ul {
  list-style: none;
  font-family: monospace;
}

.stats{
  display: inline-block;
  float: left;

}

#highest{
  color: blue;
  text-align: center;
  background-image: url(https://static1.squarespace.com/static/52bc9dffe4b0c3d23f725e81/5830cedf59cc687f52208d39/5830cedf1b631be02197512a/1479595537548/bearhoney.jpg?format=500w);
  border: 12px solid lavender;
  border-radius: 30%;
  margin: 5%;
  font-size: 20px;
  font-weight: bold;
}

#worst{
  text-align: center;
  color: red;
  background-image: url(https://static1.squarespace.com/static/52bc9dffe4b0c3d23f725e81/5830cedf59cc687f52208d39/5830cedf1b631be02197512a/1479595537548/bearhoney.jpg?format=500w);
  border: 8px solid pink;
  border-radius: 30%;
  margin: 5%;
  font-size: 20px;
  font-weight: bold;

}

#most_reviews{
  text-align: center;
  color: blue;
  background-image: url(https://static1.squarespace.com/static/52bc9dffe4b0c3d23f725e81/5830cedf59cc687f52208d39/5830cedf1b631be02197512a/1479595537548/bearhoney.jpg?format=500w);
  border: 12px solid lavender;
  border-radius: 30%;
  margin: 5%;
  font-size: 20px;
  font-weight: bold;
}


.Sortby {
  text-align: center;
margin-left: 10px;
display: flex;
flex-direction: row;
justify-content: center;
border: 4px solid black;
width: 98%;
background-color: yellow;
}


.all_books{
  display: inline-block;
  border:  yellow 12px solid;
  border-radius: 3%;
}

.each_book{
  display: block;
  border:  black 5px solid;

}
