.title{
  color: red;
  font-size: 26;
  font-weight:bold;
  font-family: monospace;
}

.links p{

}

.user #User{
  color: red;
  font-size: 15;
  font-weight:bold;
  font-family: monospace;
}

ul{

}

ul li{
  color: black;
  font-size: 12;
  font-weight:bold;
  font-family: monospace;

}
