<!DOCTYPE html>
<html>
  <head>
    <title>BookClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <navbar>
      <a href="/">Home</a>
      <a href="/books">Books</a>
      <a href="/books/new">Create A New Book</a>
    </navbar>
    <%= yield %>
  </body>
</html>
